<div class="basic-form-page">
  <h2>A Basic Form with different type of validation: </h2>
  <div>
    <form #basicForm="ngForm" name="addForm" [uiForm]="basicForm" (submitFn)="submitData($event)" novalidate>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Please enter name" name="name" required [(ngModel)]="formData.name" #name="ngModel" autocomplete="off">
        <mat-hint *ngIf="name.errors && (name.dirty || name.touched) && name.errors.required && !formData.name">Name is required</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Please enter email" name="email" required ui-email [(ngModel)]="formData.email" #email="ngModel" autocomplete="off">
        <mat-hint *ngIf="email.errors && (email.dirty || email.touched) && email.errors.required && !formData.email">Email is required</mat-hint>
        <mat-hint *ngIf="email.errors && (email.dirty || email.touched) && email.errors.uiEmail && formData.email">Please enter a valid email</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contact No.</mat-label>
        <input matInput placeholder="Please enter Contact No" name="contactNo" required ui-number [(ngModel)]="formData.contactNo" #contactNo="ngModel" autocomplete="off">
        <mat-hint *ngIf="contactNo.errors && (contactNo.dirty || contactNo.touched) && contactNo.errors.required && !formData.contactNo">contact No is required</mat-hint>
        <mat-hint *ngIf="contactNo.errors && (contactNo.dirty || contactNo.touched) && contactNo.errors.uiNumber && formData.contactNo">Please enter a valid contact No</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput placeholder="Please enter URL" name="url" required ui-url [(ngModel)]="formData.url" #url="ngModel" autocomplete="off">
        <mat-hint *ngIf="url.errors && (url.dirty || url.touched) && url.errors.required && !formData.url">URL is required</mat-hint>
        <mat-hint *ngIf="url.errors && (url.dirty || url.touched) && url.errors.uiURL && formData.url">Please enter a valid URL</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Year(range: 1980,2018)</mat-label>
        <input matInput placeholder="Please enter year" name="year" required [uiRange]=[1980,2018] [(ngModel)]="formData.year" #year="ngModel" autocomplete="off">
        <mat-hint *ngIf="year.errors && (year.dirty || year.touched) && year.errors.required && !formData.year">year is required</mat-hint>
        <mat-hint *ngIf="year.errors && (year.dirty || year.touched) && year.errors.uiRange && formData.year">Please enter a valid year</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Zip(upto 4 digit)</mat-label>
        <input matInput placeholder="Please enter zip" name="zip" required ui-number [uiAllowedUpto]="4" [(ngModel)]="formData.zip" #zip="ngModel" autocomplete="off">
        <mat-hint *ngIf="zip.errors && (zip.dirty || zip.touched) && zip.errors.required && !formData.zip">zip is required</mat-hint>
        <mat-hint *ngIf="zip.errors && (zip.dirty || zip.touched) && zip.errors.uiRange && formData.zip">Please enter a valid zip</mat-hint>
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary" class="visit-page">Submit</button>
    </form>
  </div>
</div>
