<div style="text-align:center">
  <h1>
    Welcome to Angular!
  </h1>
  <img width="100" alt="Angular Logo" src="assets/angular.png">
</div>
<div class="buttn-wrapper">
  <h2>Here are some components to help you: </h2>
  <button mat-flat-button color="primary" class="visit-page" [routerLink]="['../map/basic-map']">Basic Map</button>
  <button mat-flat-button color="primary" class="visit-page" [routerLink]="['../map/search-location']">Search Location</button>
  <button mat-flat-button color="primary" class="visit-page" [routerLink]="['../map/polygon-view']">Polygon View</button>
  <button mat-flat-button color="primary" class="visit-page" [routerLink]="['../map/draw-ploygon']">Draw Polygon</button>
  <button mat-flat-button color="primary" class="visit-page" [routerLink]="['../form/validation']">Form Validation</button>
</div>
