<mat-card>
      <mat-card-title>Admin Panel Login</mat-card-title>
<mat-card-content>
  <form>
    <p>
      <mat-form-field>
      	<mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Enter email address" >
        <mat-hint>Email is required</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
      	<mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter password" >
      </mat-form-field>
    </p>

    <div class="button">
      <button type="submit" class="login-btn" mat-raised-button color="primary">Login</button>
    </div>

    <div class="forgot-password-wrap">
  	<a>Fotgot Password?</a>
  </div>
  </form>
</mat-card-content>
</mat-card>

<mat-card>
      <mat-card-title>Fotgot Password</mat-card-title>
<mat-card-content>
  <form>
    <p>
      <mat-form-field>
      	<mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Enter registered email" >
        <mat-hint>Email is required</mat-hint>
      </mat-form-field>
    </p>

    <div class="button">
      <button type="submit" class="login-btn" mat-raised-button color="primary">submit</button>
    </div>

    <div class="forgot-password-wrap">
  	<a>Back to Login</a>
  </div>
  </form>
</mat-card-content>
</mat-card>