 :host {
        display: flex;
        justify-content: center;
        /*padding: 100px 0;*/
        background: url(../../../assets/background-723053_1920.jpg);
        background-repeat: no-repeat;
    background-size: cover;
        padding: calc((100vh - 302px)/2) 0px;
        box-shadow: 0 14px 28px rgba(0,0,0,.25)
      }

      .mat-card{
        border-radius: 5px;
      }

      .mat-form-field {
        width: 100%;
        min-width: 300px;
      }

      mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
      }

      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        justify-content: center;
      }

.login-btn{
        width: 100%;
}

.mat-hint{
  color: red;
}

.forgot-password-wrap {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}